[Desktop Entry]
Name=OMINO
Encoding=UTF-8
Exec=bash-wrapper "sudo OMINO"
Icon=/usr/share/pixmaps/OMINO.png
StartupNotify=false 
Terminal=true
Type=Application
Categories=08-exploitation-tools;02-vulnerability-analysis;01-info-gathering;
X-Kali-Package=OMINO
Comment=
Path=
